<html>
    <body>
        <h1>Welcome to the diabetes predictor</h1>
        <form method = 'post' action="/submit">
        <input type="number" name="preg" placeholder="number of pregnancies" required>
        <input type="number" name="gluc" placeholder="glucose level" required>
        <input type="number" name="BP" placeholder="Blood Pressure" required>
        <input type="number" name="skin thic" placeholder="skin thickness" required>
        <input type="number" name="insulin" placeholder="Insulin" required>
        <input type="number" name="bmi" placeholder="BMI" required>
        <input type="number" name="diabetespf" placeholder="diabetes pedigree function" required>
        <input type="number" name="age" placeholder="AGE" required>
        <button>Submit</button>
        </form>

    </body>
</html>